.commentHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 1/3;
}

.userName {
  font-weight: bold;
}

.youBadge {
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  color: white;
  background-color: hsl(238, 40%, 52%);
}

@media (min-width: 600px) {
  .commentHeader {
    grid-column: 2/3;
    max-width: fit-content;
  }
}
