.commentContainer {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  line-height: 1.25rem;
  border: solid 1px hsl(223, 19%, 93%);
}

.commentText {
  color: hsl(211, 10%, 45%);
}

.commentControls {
  display: flex;
  justify-content: space-between;
}

.replyButton {
  font-family: inherit;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}
