.commentHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userName {
  font-weight: bold;
}

.youBadge {
  padding: 0 0.5rem;
  border-radius: 3px;
  color: white;
  background-color: hsl(238, 40%, 52%);
}
