.createReplyContainer {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  border: solid 1px hsl(223, 19%, 93%);
}

.replyTextarea {
  padding: 1rem;
  width: 100%;
  height: 5rem;
  font-family: inherit;
  border: solid 1px hsl(223, 19%, 93%);
  border-radius: 8px;
  resize: none;
}

.replyTextarea:focus {
  outline-color: hsl(238, 40%, 52%);
}

.sendButton {
  font-family: inherit;
  color: white;
  background-color: hsl(238, 40%, 52%);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.cancelButton {
  font-family: inherit;
  color: white;
  background-color: #bebaba;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 1rem;
}

.sendButton:active {
  background-color: hsl(239, 57%, 85%);
}

.replyControlsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
