dialog {
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  color: hsl(211, 10%, 45%);
}

.dialogButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.dialogButtonContainer button {
  font-family: inherit;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  color: white;
}

.dialogHeader {
  font-size: 1rem;
  color: hsl(212, 24%, 26%);
}
.deleteButton {
  background-color: hsl(358, 79%, 66%);
}

.cancelButton {
  background-color: hsl(211, 10%, 45%);
}
